body
{
    background-color: rgb(203, 200, 247);
    display: flex;
    justify-content: center;
}

@media (max-width:640px)
{
    .images
    {
        text-align: center;
        top: 20vh;
        height: 150vh;
        width: 100vw;
    }
    
    img
    {
        margin: 0 auto;
        padding: 0 auto;
        height: calc(35vw*0.7);
        width: 35vw;
        max-width: 170px;
        max-height: 100px;
    }
}

@media (min-width:640px) 
{
    .images
    {
        text-align: center;
        top: 20vh;
        height: 150px;
        width: 100vw;
        max-width: 960px;
    }
    
    img
    {
        margin: 0 auto;
        padding: 0 auto;
        height: calc(20vw*0.7);
        width: 15vw;
        max-width: 150px;
        max-height: 105px;
    }
}
