body
{
    background-color: rgb(203, 200, 247);
    display: flex;
    justify-content: center;
}

@media (max-width:600px)
{
    .images
    {
        text-align: center;
        top: 20vh;
        height: 30vh;
        width: 80vw;
    }
    
    img
    {
        margin: 0 auto;
        padding: 0 auto;
        height: calc(40vw*0.7);
        width: 40vw;
        max-width: 180px;
        max-height: 110px;
    }
}

@media (min-width:600px) 
{
    .images
    {
        text-align: center;
        top: 20vh;
        height: 110px;
        width: 80vw;
        max-width: 960px;
    }
    
    img
    {
        margin: 0 auto;
        padding: 0 auto;
        height: calc(25vw*0.7);
        width: 25vw;
        max-width: 160px;
        max-height: 115px;
    }
}
