body
{
    background-color: rgb(103, 200, 247);
    display: flex;
    justify-content: center;
}

@media (max-width:600px)
{
    .images
    {
        text-align: center;
        top: 10vh;
        height: 20vh;
        width: 80vw;
    }
    
    img
    {
        margin: 0 auto;
        padding: 0 auto;
        height: calc(40vw*0.7);
        width: 40vw;
        max-width: 170px;
        max-height: 100px;
    }
}

@media (min-width:600px) 
{
    .images
    {
        text-align: center;
        top: 10vh;
        height: 100px;
        width: 80vw;
        max-width: 960px;
    }
    
    img
    {
        margin: 0 auto;
        padding: 0 auto;
        height: calc(20vw*0.7);
        width: 20vw;
        max-width: 150px;
        max-height: 105px;
    }
}
